<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinView.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinView.Settings>
            <setting name="StorageType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StorageUrl" serializeAs="String">
                <value>http://localhost:5201</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SelectionBorderThickness" serializeAs="String">
                <value>4</value>
            </setting>
        </WinView.Settings>
    </applicationSettings>
</configuration>